#uno
{
  font-size: 40px;  
}


#dos
{
  font-size: small;  
}

#tres
{
  font-size: medium;  
}

#cuatro
{
  font-size: large;  
}

#cinco
{
  font-size: xx-large;  
}

#seis
{
  font-size: xx-small;  
}

#siete
{
  font-size: 2%;  
}

#ocho
{
  font-size: 20%;  
}

#nueve
{
  font-size: 80%;  
}

#diez
{
  font-size: 200%;  
}

#once
{
  font-size: 300%;  
}